<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head %>
  </head>
  <body>
    <header>
      <%- include ./partials/header %>
    </header>

    <h2>Add new student.</h2>
    <br>

    <form class="" action="/students/addstudent" method="post">
      <input type="text" name="first_name" placeholder="Student's First Name">
      <br>
      <input type="text" name="last_name" placeholder="Student's Last Name">
      <br>
      <input type="text" name="email" placeholder="Student's Email">
      <br>


      <button type="submit">Submit</button>

    </form>
  </body>
</html>