<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head %>
  </head>
  <body>
    <header>
      <%- include ./partials/header %>
    </header>

    <form class="form-horizontal">
    <fieldset>

    <!-- Form Name -->
    <legend>Login</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="">Username</label>
      <div class="col-md-4">
      <input id="" name="username" type="text" placeholder="" class="form-control input-md">

      </div>
    </div>


    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="">Password</label>
      <div class="col-md-4">
        <input id="" name="password" type="password" placeholder="" class="form-control input-md">

      </div>
    </div>

    <!-- Button (Double) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for=""></label>
      <div class="col-md-8">
        <button id="" name="" class="btn btn-default">Cancel</button>
        <button id="" name="" class="btn btn-warning">Login</button>
      </div>
    </div>

    </fieldset>
    </form>

  </body>
</html>
