<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Subjects</title>
  </head>
  <body>
    <h1>Subjects</h1>

    <table>
      <tr>
        <th>ID</th>
        <th>Subject</th>
        <th>Assigned Teacher</th>
        <th>Actions</th>
      </tr>

    <% var i = 1 %>
    <% data.forEach(list => { %>
      <tr>
        <td><%= i++ %></td>
        <td><%= list.subject_name %></td>
        <td>
          <ol>
            <% list.Teachers.forEach(teacher => { %>
            <li><%= teacher.first_name + ' ' + teacher.last_name %></li>
            <% }) %>
          </ol>
        </td>
        <td>
          <a href="/subjects/<%= list.id %>/enrolledstudents">Enrolled Students</a>
        </td>
      </tr>
    <% }); %>

    </table>

  </body>
</html>